@import '../../styles/global.scss';

.attr-column {
  * { transition: none !important }
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font--data);
  width: var(--column-width);
  text-align: left;
  color: var(--text--primary);
  background: var(--background);
  cursor: pointer;
  z-index: 444;
  transition: none !important;
  flex-grow: 1;
  &:first-of-type {
    th, .data {

        border-radius: 6px 0 0 6px !important;

    }
  }
  &:last-of-type {
    th, .data {
        border-radius: 0 6px 6px 0 !important;
    }
  }
  .col {
    width: var(--column-width);
    background: var(--background);
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
    font-size: .8em;
    color: var(--text--primary);
    font-family: var(--font--data);
    border-bottom: var(--action) 2px solid;
    border-left: var(--action) 1px solid !important;
    height: var(--header-height);
  }
}

.data {
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: var(--row-height);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  &:nth-of-type(even) {
    background: var(--action--secondary);
  }
}

.isDirectory {
  .name {
    font-weight: 800;
  }
}

.noRead {
  color: var(--text--primary--alpha);
}


