@import '../../styles/global.scss';

.preference-panel {
  text-align: left;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  z-index: 444;
  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  /* TODO globalize these and move them somewhere else*/
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 24px;
    color: var(--text--primary);
    background: var(--action);
    border-bottom: 1px solid var(--analysis) !important;
  }
  .ant-select-selector {
    font-size: .8em;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--analysis) !important;
  }
  .ant-select-selection-item {
    line-height: .8em;
  }
  .ant-select-arrow {
    color: var(--text--primary) !important;
  }
}

/* TODO globalize and move these somewhere else */
.ant-select-dropdown {
  background: var(--background) !important;
}
.ant-select-item.ant-select-item-option {
  background: var(--background) !important;
  color: var(--text--primary) !important;
  font-size: .8em;
}
.ant-select-item.ant-select-item-option-selected {
  font-weight: 600;
  color: var(--text--primary) !important;
  background: var(--action--secondary) !important;
}
.ant-select-item.ant-select-item-option-active {
  color: var(--text--primary) !important;
  background: var(--action) !important;
}
.ant-select:focus {
  outline: none !important;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
  &:focus {
    outline: none !important;
  }
}