@import '../styles/flex.scss';
@import '../styles/global.scss';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  height: 100vh;
  color: var(--text-primary);
  background-color: var(--background);
  .sabi-menu,
  .sabi-menu .ant-menu-title-content {
    display: flex;
    flex-direction: row;
    align-items: middle;
  }
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
}

* {
  transition: all ease .3s;
  transition-property: box-shadow, color, background, background-color, opacity, height;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--accent) !important;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track {
    width: 8px;
    background: var(--background) !important;
    width: 4px !important;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 6px;
  }
}