@import '../../styles/flex.scss';
@import '../../styles/global.scss';

.directory {
  margin: 0;
  padding: 0 20px;
  background: var(--background);
  i {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  position: relative;
}

.dir-heading {
  position: fixed;
  top: 40px;
  height: 70px;
  width: 100%;
  z-index: 1000;
  background: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 { margin-bottom: unset }
  .dir-nav {
    color: var(--alert);
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      cursor: pointer;
    }
  }
}

.dir-name {
  font-size: var(--font-size--heading);
  font-family: var(--font--data);
  color: var(--text--primary);
  font-weight: 100;
  letter-spacing: -0.01em;
  line-height: 32px;
  margin-left: 10px;
  color: var(--alert); 
}

.dir-contents {
  display: flex;
  flex-direction: row;
}

